# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Çıktı Klasörleri
*_resize/

# PyInstaller Build Artifacts
build/
dist/
*.spec

# Test Verileri
Foto/
